@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

@layer components {
  .hover {
    @apply transition ease-in-out duration-100 hover:-translate-y-3 cursor-pointer;
  }
  .btn {
    @apply bg-darkpurple px-20 py-3 text-white text-sm font-light rounded-xl hover:bg-lightpurple hover;
  }

  .favourite {
    border-radius: 14px;
    border: 1px solid #fff;

    background: linear-gradient(
      99deg,
      #fff 3.36%,
      rgba(255, 255, 255, 0) 238.16%
    );

    backdrop-filter: blur(10px);

    @apply hover:bg-lightpurple lg:hover;
  }
}

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}
